body{
    font-family: 'Comfortaa', cursive;
}
img{
    max-width: 100%;
}
#img-description{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    padding: 20px;
}
#img-description > span {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1.5px;
}
#img-description > p {
    font-size: 12px;
}
i.fa-arrow-left {
    position: absolute;
    left: 0;
}
i.fa-arrow-right {
    position: absolute;
    right: 0;
}